@model DALTW.Models.Document

@{
    ViewData["Title"] = "Thêm tài liệu mới";
}

<h2>Thêm tài liệu mới</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Tên tài liệu</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Nội dung</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Giá</label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Chọn danh mục</label>
        <select asp-for="CategoryID" asp-items="ViewBag.Categories" class="form-control">
            <option value="">-- Chọn danh mục --</option>
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Chọn chủ đề</label>
        <select asp-for="TopicID" asp-items="ViewBag.Topics" class="form-control">
            <option value="">-- Chọn chủ đề --</option>
        </select>
        <span asp-validation-for="TopicID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Chọn khối lớp</label>
        <select asp-for="GradeID" asp-items="ViewBag.Grades" class="form-control">
            <option value="">-- Chọn khối lớp --</option>
        </select>
        <span asp-validation-for="GradeID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Chọn học kỳ</label>
        <select asp-for="SemesterID" asp-items="ViewBag.Semesters" class="form-control">
            <option value="">-- Chọn học kỳ --</option>
        </select>
        <span asp-validation-for="SemesterID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tài liệu của cuộc thi nào ? </label>
        <select asp-for="CompetitionID" asp-items="ViewBag.Competitions" class="form-control">
            <option value="">-- Chọn học kỳ --</option>
        </select>
        <span asp-validation-for="CompetitionID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Chọn file</label>
        <input type="file" name="file" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Thêm tài liệu</button>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
</form>
