@model DALTW.Models.Document
@{
    ViewData["Title"] = "Xóa Tài liệu";
}
<h2>Bạn có chắc muốn xóa tài liệu này?</h2>
<p><strong>@Model.Name</strong></p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="DocumentID" />
    <button type="submit">Xóa</button>
    <a asp-action="Index">Hủy</a>
</form>
