@{
    ViewData["Title"] = "Xem tài liệu PDF";
}
<h2>Xem tài liệu PDF</h2>

<form action="@Url.Action("Edit", "DocumentManager", new { id = ViewBag.DocumentID })" method="get" style="display:inline;">
    <button type="submit" class="btn btn-warning mt-3">
        <i class="fas fa-edit"></i> Chỉnh sửa
    </button>
</form>

@if (User.IsInRole("Admin"))
{
    <form action="@Url.Action("Delete", "DocumentManager", new { id = ViewBag.DocumentID })"
          method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger mt-3"
                onclick="return confirm('Bạn có chắc muốn xóa?');">
            <i class="fas fa-trash-alt"></i> Xóa
        </button>
    </form>
}


<a href="@Url.Action("Index", "DocumentManager")" class="btn btn-secondary mt-3">
    <i class="fas fa-arrow-left"></i> Quay lại
</a>


<iframe src="@Model" width="100%" height="800px"></iframe>
